@CHARSET "UTF-8";

html, body {
	width: 100%;
	height: 100%;
}

#legend {
	font-family: Arial, sans-serif;
	background: #fff;
	padding: 10px;
	margin: 10px;
	border: 3px solid #000;
}

#legend h3 {
	margin-top: 0;
}

#legend img {
	vertical-align: middle;
}

.legend_color {
	width:5px;
	height:5px;
}

#top_div {
	width: 100%;
	height: 87%;
}

#main_map {
	width: 80%;
	height: 100%;
	float: left;
}

#right_panel {
	width: 19%;
	height: 100%;
	float: right;
}

#filters_top_panel {
	height: 49%;
}

#filter_variable_options {
	font-size: 11px;
	width: 45%;
	height: 9%;
	float: left;
}

#add_filter {
	width: 45%;
	float: right;
	cursor: pointer;
}

#filter_values_options {
	width: 90%;
	height: 40%;
	overflow-y: scroll;
}

#filters_table {
	width: 100%;
	height: 50%;
	overflow-y: scroll;
}

table {
	font-family: arial, sans-serif;
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
	word-wrap: break-word;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.close_button {
	background-color: red;
	padding: 0px;
	margin: 0px;
	border: none;
	border-radius: 10px;
	border: none;
}

#pointmod_bottom_panel {
	height: 40%;
	background-color: #4B4D65;
	overflow-y: scroll;
}

.section {
	padding: 10%;
	padding-left: 65px;
}

.section input[type="radio"] {
	display: none;
}

.container {
	margin-bottom: 10px;
}

.container label {
	position: relative;
}

/* Base styles for spans */
.container span::before, .container span::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
	cursor: pointer;
}

.container span.radio::before {
	left: -52px;
	width: 45px;
	height: 25px;
	background-color: #A8AAC1;
	border-radius: 50px;
}

.container span.radio::after {
	left: -49px;
	width: 17px;
	height: 17px;
	border-radius: 10px;
	background-color: #6C788A;
	transition: left .25s, background-color .25s;
}

input[type="radio"]:checked+label span.radio::after {
	left: -27px;
	background-color: #EBFF43;
}

#bottom_div {
	width: 100%;
	height: 30%;
}

#bottom_div_left {
	width: 49%;
	height: 100%;
	float: left;
}

#bottom_div_right {
	float: right;
	width: 49%;
	height: 100%;
}

#bottom_bar_chart {
	width: 90%;
	height: 100%;
	float: left;
}

#bottom_dropdown {
	width: 10%;
	height: 100%;
	float: right;
}

#bottom_chart_options {
	display: block;
	margin: auto;
	font-size: 11px;
}

#maxDate, #minDate {
	font-size: 11px;
}

svg#bottom_bar_chart_svg {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

.stations, .stations svg {
	position: absolute;
}

.stations svg {
	width: 100px;
	height: 30px;
	padding-right: 000px;
	font: 10px sans-serif;
}

.stations circle {
	fill: red;
	stroke: black;
	stroke-width: 0.5px;
}

.axis--grid .domain {
	fill: #ddd;
	stroke: none;
}

.axis--x .domain, .axis--grid .tick line {
	stroke: #fff;
}

.axis--grid .tick--minor line {
	stroke-opacity: .5;
}

.area {
	fill: steelblue;
	clip-path: url(#clip);
}

.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}

svg {
	font: 10px sans-serif;
}

.background path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}

.foreground path {
	fill: none;
	stroke: steelblue;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	cursor: move;
}