@CHARSET "UTF-8";

html, body {
	width: 99%;
	height: 98.5%;
}

#legend_content {
	font-size:12px;
	display: inline;
	float: right;
	background-color: rgba(255,255,255,0.6);
	max-width:100px;
}

#circle_legend {
	 -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
	width:10px;
	height:10px;
}

#legend h3 {
	margin-top: 0;
}

#legend img {
	vertical-align: middle;
}

.legend_color {
	width:5px;
	height:5px;
}

#paint_color_options {
	font-size:12px;
	display: block;
}

#top_div {
	width: 100%;
	height: 69%;
}

#main_map {
	width: 60%;
	height: 100%;
	float: left;
}

#right_panel {
	width: 39%;
	height: 100%;
	float: right;
	overflow: hidden;
}

#filters_top_panel {
	height: 100%;
	width:41%;
	float:left;
	padding-top:10px;
}

#filter_variable_options {
	font-size: 12px;
	height: 9%;
	float: left;
}

#add_filter {
	float: right;
	cursor: pointer;
	margin-right:20px;
}

#add_filter{
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
#add_filter:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
#add_filter:active {
	position:relative;
	top:1px;
}


#filter_values_options {
	width: 100%;
	height: 70%;
	overflow-y: scroll;
	margin-top: 33px;
	font-size:12px;
}

#table_container {
	max-height:100%;
	overflow-y: auto;
	margin-top:10px;
}
#filters_table {
	width: 100%;
	height: 100%;
	float:right;
}

#filters_table  {
	font-family: arial, sans-serif;
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
	word-wrap: break-word;
}

tr#header {
	background-color: grey;
	color: white;
	font-weight: bold;
	height:15px;
	
}

#filters_table td {
	border: 1px solid #dddddd;
	text-align: center;
}

#filters_table tr:nth-child(even) {
	background-color: #dddddd;
}


.close_button  {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:1px 2px;
	text-decoration:none;
}
.close_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.close_button:active {
	position:relative;
	top:1px;
}


#pointmod_bottom_panel {
	height: 40%;
	background-color: #4B4D65;
	overflow-y: scroll;
}

.section {
	padding: 10%;
	padding-left: 65px;
}

.container {
	margin-bottom: 10px;
}

.container label {
	position: relative;
}

/* Base styles for spans */
.container span::before, .container span::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

#bottom_div {
	width: 100%;
	height: 30%;
}

#bottom_div_left {
	width: 60%;
	height: 100%;
	float: left;
	overflow: hidden;
	padding-top:10px;
}

#bottom_div_right {
	float: right;
	width: 39%;
	height: 100%;
	overflow: hidden;
}

#bottom_bar_chart {
	width: 100%;
	height: 88%;	
}

#bottom_dropdown {
	width: 100%;
	height: 9%;
	text-size:12px;
}

#bottom_chart_options {
	display: inline-block;
	margin: auto;
	font-size: 12px;
}

.text {
	font-size: 12px;
	display: inline-block;
	
}

#maxDate, #minDate,#totalValue {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	
}

svg#bottom_bar_chart_svg {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

.stations, .stations svg {
	position: absolute;
}

.stations svg {
	width: 100px;
	height: 30px;
	padding-right: 000px;
	font: 10px sans-serif;
}

.stations circle {
	fill: black;
	stroke: black;
	stroke-width: 0.5px;
}

.axis--grid .domain {
	fill: #ddd;
	stroke: none;
}

.axis--x .domain, .axis--grid .tick line {
	stroke: #fff;
}

.axis--grid .tick--minor line {
	stroke-opacity: .5;
}

.area {
	fill: steelblue;
	clip-path: url(#clip);
}

.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}

svg {
	font: 10px sans-serif;
}

.background path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}

.foreground path {
	fill: none;
	stroke: steelblue;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	cursor: move;
}

select:hover {
	cursor:pointer;
}

